<div class="bx--grid" style="margin-top:2rem;">
	<div class="bx--row">
		<div class="bx--col">
			<ibm-loading [overlay]="true" *ngIf="isLoading"></ibm-loading>
			<h4>Customized TD Structure</h4>
			<ibm-table [model]="usersModel" size="sm" [striped]="false" (sort)="customSort($event)"
				[showSelectionColumn]="true">
				<tbody>
					<tr>
						<td class="no-data" colspan="5">
							<div>No data found.</div>
						</td>
					</tr>
				</tbody>
			</ibm-table>
			<ng-template #commentCellTmpl let-data="data">
				<input ibmText [(ngModel)]="data.val" />
      </ng-template>
			<button ibmButton size="sm" (click)="getFirstComment()">Get comments in the selected rows</button>
		</div>
		<div class="bx--col">
			<h4>Striped Multiple Rows with Expandable Rows</h4>
			<ibm-table id="multipleRowsStripedTable" [model]="jsSkillsModel" size="sm" [striped]="false"
				[showSelectionColumn]="false">
				<tbody>
					<tr>
						<td class="no-data" colspan="5">
							<div>No data found.</div>
						</td>
					</tr>
				</tbody>
			</ibm-table>
			<ng-template #collapsedRowTmpl let-data="data">
				<a [attr.href]="data.homepage">{{data.homepage}}</a>
			</ng-template>
		</div>
	</div>
</div>