<div ibmGrid>
	<div ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 12}">
			<ibm-combo-box label="Full Name" helperText="trigger search by pressing enter key" placeholder="Please select user name" [items]="items"
				(selected)="onSelected(selectedItem)" (keydown.enter)="onEnter($event)">
				<ibm-dropdown-list></ibm-dropdown-list>
			</ibm-combo-box>
		</div>
		<div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 12}">
			<p class="description">
        Our combobox control loads remote data with http requets. So maybe you need to wait a little bit longer to see the search results.
      </p>
		</div>
	</div>
</div>