<div ibmGrid class="demo-list">
  <div ibmRow class="one-demo">
    <div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 12}">
      <ibm-pagination [model]="pagiModel" [pagesUnknown]="true" (selectPage)="selectPage($event)">
      </ibm-pagination>
    </div>
    <div ibmCol [columnNumbers]="{'lg': 6, 'md': 4, 'sm': 12}">
      <h4>Unbound style pagination</h4>
      <p class="warnning">
        For now, we have to use redundant css code snippets to archieve this style.
      </p>
    </div>
  </div>
</div>