:host ::ng-deep {
  .bx--pagination {
    justify-content: flex-end;
    background-color: unset;
    border-top: none;

    .bx--pagination__left, .bx--select__page-number {
      display: none;
    }

    .bx--pagination__button {
      background-color: #f4f4f4;
      border-top: 1px solid #e0e0e0;
    }
  }
}
