<div class="bx--grid" style="margin-top:50px;">
	<div class="bx--row">
		<div class="bx--col">
		</div>
		<div class="bx--col">
			<button ibmButton (click)="openModal()">Open modal</button>
			<ibm-modal size="xxl" *ngIf="isOpen">
				<section class="bx--modal-content" style="padding:1rem;margin-bottom:0">
					<h1 style="font-size:2rem;margin-bottom:2rem;">Carbon Angular Components</h1>
					<div style="text-align:right">
						<button ibmButton (click)="closeModal()">OK</button>
						<button ibmButton="ghost" (click)="closeModal()">Cancel</button>
					</div>
				</section>
			</ibm-modal>
		</div>
		<div class="bx--col">
		</div>
	</div>
</div>