@import "~carbon-components/scss/globals/scss/styles.scss";

html, body {
  height: 100%;
}

.bx--side-nav .bx--side-nav__link,
.bx--side-nav__submenu:focus,
a.bx--side-nav__link:focus {
  outline: none;
}

.demo-comments {
  font-size: 0.75rem;
  background-color: #eee;
  padding: 1rem;
  line-height: 2rem;
}